<div>
  app works.
</div>
<!--hiden is angular directive-->
<h1 hidden>Hidden Text</h1>
<!--myHiden is our custom directive-->
<h1 myHidden>myHidden Text</h1>



<p [myHighlight]="color">Highlight me! with my color yellow</p>
<p myHighlight>Highlight me! with default red</p>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="color" (click)="color='lightgreen'">Green
  <input type="radio" name="color" (click)="color='yellow'">Yellow
  <input type="radio" name="color" (click)="color='cyan'">Cyan
</div>

<p [myHighlight]="color" >Highlight me !</p>
<p [myHighlight]="color" defaultColor="violet">Highlight me !</p>