<div>
  <h1>Register an Account</h1>
</div>

<div>
  <form action="">
    <div>
      <label>
        Username
      </label>
        <input type="text" placeholder="Enter Email Address" id="email" [(ngModule)]="email" name="email" required #em="ngModel" >
        <div [hidden]="em.valid || em.pristin" class="alert callout" >
          Email is Required
        </div>
    </div>

    <div>
      <label>
        Password
        <input type="password" placeholder="Enter Password" id="password1" 
        [(ngModule)]="password1" name="password1" required #em="ngModel" >
        <div [hidden]="pwd1.valid || pwd1.pristin" class="alert callout" >
          Password is Required
        </div>
      </label>
    </div>
    
    <div>
      <label>
        Confirm
        <input type="password" placeholder="Confirm Password" id="password2" 
        [(ngModule)]="password2" name="password2" required #em="ngModel" >
        <div [hidden]="pwd1.valid || pwd1.pristin" class="alert callout" >
          Confirm Password
        </div>
      </label>
    </div>

    <div *ngIf="passwordFail" class="alert callout">
      Password do not match
    </div>
    <div>
      <a (click)="signUp()" >Sign Up</a>
      <a (click)="cancel()" >cancel</a>
    </div>
  </form>
</div>